    /* General Styling */
* {
    box-sizing: border-box;
    margin: 0;
}

    /* Horiseon webpage theme styling (Default  font-size (16px for most browsers) ) */
body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

    /* Header styling background */
header {
    padding: 20px;
    background-color: #2a607c;
}
    /* Main heading - only used once  */
header h1 {
    display: inline-block;
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
/* Main heading transparent effect on letters "seo" */
header h1 span {
    color: #d9dcd6;
}

    /* Main Navigation styling (nested in header tag) */

#main_navigation {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 1.25rem; 
}

#main_navigation li {
    display: inline-block;
    margin-left: 25px;
}

#main_navigation a {
    color: #ffffff;
    text-decoration: none;
}



/* Hero Section - currently only contains image */

.hero img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    display: block;
    object-fit: cover;
}


/* Main Content area */

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* main_card class styling - main sections of webpage */

.main_card {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

.main_card h2 {
    margin-bottom: 20px;
    font-size: 2.25rem;
}

.main_card img {
    max-height: 200px;
}
/* Standard options for positioning images in class=main_card element */
.main_card img.float-left {
    float: left;
    margin-right: 25px;
}

.main_card img.float-right {
    float: right;
    margin-left: 25px;
}



/* Aside Element - sidebar on right containing related information in sections with styling using class="side_card" */

aside {
    margin-right: 20px;
    padding: 20px;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

.side_card {
    margin-bottom: 32px;
}

.side_card h3 , footer { /* SHARED WITH WEBPAGE FOOTER ELEMENT */
    clear: both;
    text-align: center;
}

.side_card img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* Footer styling - inherits properties from previous section (under styling for side_card) */

footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    padding: 30px;
    color: initial;
}

footer h3 {
    font-size: 1.25rem; 
}
